{% extends 'appBase.html.twig' %}
{% block appName %}راهنمای سامانه{% endblock %}
{% block appMenu %}
    <ul class="sidebar min-vh-100">
        <div id="html1"></div>
        <script>
            $(document).ready(function(){
                // AJAX
                $('#html1').on('changed.jstree', function (e, data) {
                    window.location.replace(Routing.generate('help', { 'id':data.selected}));
                })
                    .jstree({
                        'core' : {
                            'data' : {
                                'url' : function (node) {
                                    return node.id === '#' ? Routing.generate('helpGetChildsTree', { 'PID':'1'}) : Routing.generate('helpGetChildsTree', { 'PID': node.id});
                                },
                                "dataType" : "json",
                                'data' : function (node) {
                                    return {

                                    };
                                }
                            }
                        }});
            })
        </script>
    </ul>
{% endblock %}


