{% extends 'hrm/base.html.twig' %}

{% block title %}منابع انسانی{% endblock %}

{% block pageBody %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="card">
                    <div class="card-header">
                        اطلاعات
                    </div>
                    <div class="card-body">
                        <p>
                            تعداد کل:{{ info.allUsers }}نفر
                        </p>
                        <p>
                            پرسنل شرکت:{{ info.employers }}نفر
                        </p>
                        <p>
                            پیمانکاران:{{ info.contractor }}نفر
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}