{% extends 'hrm/base.html.twig' %}

{% block title %}منابع انسانی{% endblock %}

{% block pageBody %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="card">
                    <div class="card-header">
                        اطلاعات
                    </div>
                    <div class="card-body">
                        <p>
                            تعداد پست های سازمانی:{{ info.allUsers }}نفر
                        </p>
                        <p>
                             پست های سازمانی شرکت:{{ info.employers }}نفر
                        </p>
                        <p>
                            تعداد پیمانکاران:{{ info.contractor }}نفر
                        </p>
                        <p>
                            تعداد پرسنل پیمانکاران:{{ info.contractorPassenger }}نفر
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}