{% extends 'hrm/base.html.twig' %}

{% block title %}لیست پرسنل{% endblock %}

{% block appTop %}
    <a class="btn btn-success" href="{{ path('HRMEmployeAddSTP1') }}">
        <i class="fa fa-plus"></i>
        پرسنل جدید
    </a>
{% endblock %}

{% block pageBody %}

{% endblock %}