{% extends 'appSimple.html.twig' %}
{% block title %}
    فیش حقوقی
{% endblock %}
{% block appBody %}
    <div class="card">
        <div class="card-header bg-info text-light">

        </div>
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
