{% extends 'suggestion/base.html.twig' %}

{% block title %}داشبورد نظام پیشنهادات و انتقادات{% endblock %}

{% block pageBody %}
    <div class="container">
        <div class="row">
            <div class="col-3 col-xs-12 d-flex align-items-stretch">

            </div>
        </div>
    </div>
{% endblock %}
