{% extends 'appSimple.html.twig' %}
{% block title %}صندوق انتقادات و پیشنهادات{% endblock %}
{% block appBody %}
    <div class="card">
        <div class="card-header bg-info text-light">
            صندوق انتقادات و پیشنهادات
        </div>
        <div class="card-body">
            <p class="alert alert-info">
                <i class="fa fa-info-circle"></i>
                به بخش صندوق پیشنهادات و انتقادات خوش آمدید.کلیه اطلاعات هویتی شما محرمانه بوده و به هیچ وجه ذخیره نمی شود.
            </p>
            <p>
                <a class="btn btn-success" href="{{ path('suggestionSubmitNew') }}">
                    <i class="fa fa-plus"></i>
                    ثبت مورد جدید
                </a>
                <a class="btn btn-info" href="">
                    <i class="fa fa-search"></i>
                    پیگیری درخواست قبلی
                </a>
            </p>
        </div>
    </div>
{% endblock %}
