{% extends 'appSimple.html.twig' %}
{% block title %}صندوق انتقادات و پیشنهادات{% endblock %}
{% block appBody %}
    <div class="card">
        <div class="card-header bg-info text-light">
            صندوق پیشنهادات و انتقادات
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <p class="alert alert-success">
                        
                        به بخش صندوق پیشنهادات و انتقادات خوش آمدید.
                    </p>
                    <p>
                        <a class="btn btn-success" href="{{ path('suggestionSubmitNew') }}">
                            <i class="fa fa-plus"></i>
                            ثبت مورد جدید
                        </a>
                        <a class="btn btn-info" href="{{ path('suggestionSearch') }}">
                            <i class="fa fa-search"></i>
                            پیگیری درخواست قبلی
                        </a>
                    </p>
                    <p class="alert alert-light  ">
                        <i class="fa fa-info-circle"></i>
                        کلیه اطلاعات هویتی شما محرمانه بوده و به هیچ وجه در سامانه ذخیره نمی شود.
                    </p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img src="{{ asset('assets/images/public/suggestionbox.jpg') }}" class="img-fluid img-thumbnail">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
