{% extends 'admin/base.html.twig' %}

{% block title %}اسکریپت‌ها{% endblock %}
{% block appTop %}
    <a class="btn btn-success border" href="{{ path('adminNewScript') }}">
        <span class="fa fa-plus"></span>
        افزودن اسکریپت جدید
    </a>
{% endblock %}
{% block pageBody %}
    <div class="table-responsive">
        <table class="table table-data table-sm table-striped table-bordered table-hover rounded text-center">
            <thead class="bg-blue text-light">
            <tr>
                <th>ردیف</th>
                <th>نام اسکریپت</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody class="">
            {% for script in scripts %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ script.title }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('adminScriptDoing',{'id':script.id}) }}">اجرا</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}