{% extends 'appBase.html.twig' %}
{% block appName %}مدیریت سامانه تشریفات{% endblock %}
    {% block appMenu %}
        <div class="d-none d-lg-block sidebar border-left">
            <ul class="navbar-nav side-bg-btn py-3">
                <li class="nav-item side-bg-btn">
                    <a class="nav-link side-btn" href="{{ path('ceremonialMNGTOTALDashboard') }}">
                        <i class="fas fa-chalkboard"></i>
                        <span>داشبورد</span>
                    </a>
                </li>
                <li class="nav-item side-bg-btn">
                    <a class="nav-link side-btn" href="{{ path('ceremonialMNGTOTALPassengers') }}">
                        <i class="fas fa-chalkboard"></i>
                        <span>گزارش مسافرها</span>
                    </a>
                </li>
            </ul>
        </div>
    {% endblock %}
