{% block jdate_widget %}
        <div class="input-group mb-2">
            <input type="text" value="{{ form.vars.data }}" {{ block('widget_attributes') }} autocomplete="off" class="JdateInput form-control jdateInputTextbox{{ form.vars.id }}" onblur="SysCheckDateInput(this.value,'{{ form.vars.id }}');" placeholder="فرمت صحیح 1398/01/12 ">
        </div>
{% endblock %}
