{% block toggle_widget %}
    {% spaceless %}
        <div class="row">
            <div class="col-12">
                <label>آیا برای خروج مطمئن هستید؟</label>
            </div>
        </div>

    {% endspaceless %}
{% endblock %}

{% block stylesheets %}

{% endblock %}