{% extends 'appBase.html.twig' %}
{% block appName %}اپراتوری اسکان و اقامت{% endblock %}
{% block appMenu %}
    <ul class="sidebar navbar-nav">
        <li class="nav-item border-bottom">
            <a class="nav-link" href="{{ path('hotelingOPTDashboard') }}">
                <i class="fas fa-chalkboard"></i>
                <span>داشبورد</span>
            </a>
        </li>
    </ul>
{% endblock %}


