{% extends 'hoteling/OPTbase.html.twig' %}

{% block title %}داشبورد اپراتوری اسکان و اقامت{% endblock %}

{% block pageBody %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 align-items-stretch">
            <div class="card">
                <div class="card-header bg-primary text-light">
                    <i class="fas fa-chart-line"></i>
                    آمار و اطلاعات
                </div>
                <div class="card-body">
                    <p>
                        تعداد هتل‌ها و اقامتگاه‌ها:
                         {{ hotels | length }}
                        هتل
                    </p>
                    <p>
                        تعداد اتاق‌ها:
                        {{ roomsCount }}
                         اتاق
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
