{# ./templates/default/mypdf.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        body { font-family: DejaVu Sans, sans-serif;
                direction: rtl;
            text-align: right;
            float: right;
            }
    </style>
<body>
<h4>سلام</h4>
<p>Lorem Ipsum</p>
</body>
</html>