{% extends 'appSimple.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/app_base.css') }}">
{% endblock %}
{% block body %}
    <!-- row -->
    <div class="row row-sm">
        <!-- Col -->
        <div class="col-lg-3">
            <div class="card mg-b-20">
                <div class="card-body">
                    {% block appMenu %}{% endblock %}
                </div>
            </div>
        </div>

        <!-- Col -->
        <div class="col-lg-9">
            <div class="card card-primary">
                <div class="card-header">{{ block('title') }} <div class="text-left">{% block appTop %}{% endblock %}</div> </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            {% block alerts %}
                                {% if alerts is defined %}
                                    {% if alerts|length != 0 %}
                                        {% for alt in alerts %}
                                            <div class="alert alert-{{ alt.type }}" role="alert">
                                                {{ alt.message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            {% endblock %}
                        </div>
                        <div class="col-12">
                            {% block pageBody %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Col -->
    </div>
    <!-- row closed -->
{% endblock %}
