{% extends 'withNavbar.html.twig' %}

{% block pageBody %}
    <div class="row min-vh-100">
        <div class="col mx-2 mx-sm-4">
            {% if breadcrumb is not defined %}
                <ol class="breadcrumb my-2">
                    <li class="breadcrumb-item"><a class="" href="{{ path('home') }}">
                            <i class="fas fa-home"></i>
                            پورتال اصلی
                        </a></li>
                    <li class="breadcrumb-item"><a class="" href="{{ path('apps') }}">
                            <i class="fal fa-window-alt"></i>
                            برنامه‌ها
                        </a>
                    </li>
                    <li class="breadcrumb-item active">{{ block('title') }}</li>
                </ol>
            {% endif %}
            {% block appBody %}{% endblock %}
        </div>
    </div>
{% endblock %}
