{% extends 'base.html.twig' %}

{% block title %}صفحه اصلی{% endblock %}

{% block body %}
    {% include 'topMenu.html.twig' %}
    <div class="container pt-1">
        <div class="row">
            <div class="col-12">
                {% block alert %}
                    {% if alert is defined %}
                        {% if alert|length != 0 %}
                            {% for alt in alert %}
                                <div class="alert alert-{{ alt.type }}" role="alert">
                                    {{ alt.message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="container-fluid pt-1 mb-3 pb-3">
        {% block pageBody %}{% endblock %}
    </div>

    <nav class="navbar navbar-expand-sm bg-secondary fixed-bottom py-0 mt-5">
        <!-- Navbar text-->
        <a class="navbar-brand text-light" href="http://sarkesh.org">
            <img src="{{asset('/assets/images/public/rahkar.png')}}" width="30" height="30" class="d-inline-block align-top" alt="">
            سامانه مدیریت یکپارچه راهکار
        </a>
        <span class="navbar-text text-light mr-auto">
            {{ ConfigMGR.getConfig.footerText }}
        </span>

    </nav>
{% endblock %}