{% extends 'base.html.twig' %}

{% block title %}صفحه اصلی{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% if alert is defined %}
            {% if alert|length != 0 %}
                {% for alt in alert %}
                    <div class="alert alert-{{ alt.type }}" role="alert">
                        {{ alt.message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
        {% block pageBody %}{% endblock %}
    </div>
{% endblock %}