.sidebar
{
/*  background-color: #fffff0;  */
    background-color: #fbecad;
/*  min-height: calc(100vh - 56px);  */
    min-height: 100% !important;
    padding: 0;
}

.appNavbar{
    background-color: #043a62; !important;
}

.side-bg-btn {
    background-color: #ffdf54 !important;
}

.side-btn {
    background-color: #ffdf54;
    color: #1e1800;
    padding: 1rem !important;
}

.side-btn:hover {
    background-color: #fbcd4b;
    color: #000;
}

.side-btn-child {
    border-top: 1px solid #e9bb2b;
    background-color: #f4c946;
    color: #1e1800;
    padding: 1rem 2rem 1rem 1rem !important;
}

.side-btn-child:hover {
    background-color: #e9bb2b;
    color: #000;
}

.op-hover {
    opacity: 88%;
}

.op-hover:hover {
    opacity: 95%;
}
.brd-color {
    border-color: #fbcd4b !important;
}
.w-33 {
    width: 33.333333333% !important;
}

.label-reset label {
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}

.btn-small {
    padding: .25rem .5rem;
    font-size: .825rem;
    line-height: 1.4;
}

.select-w50px {
    width: 50px;
}

.select-w100px {
    width: 100px;
}

.select-w200px {
    width: 200px;
}

.select-w300px {
    width: 300px;
}

.row-bg-success {
    background-color: #ccffcd;
    border-right: 5px solid #28a745;
}
.row-bg-danger {
    background-color: #ffc1b8;
    border-right: 5px solid #dc3545;
}


.table2 {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table2 th,
.table2 td {
    padding: 0.35rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table2 thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table2 tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table2 .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

.table2 .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
