body{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background: #f8f6f8;
    direction: rtl;
    text-align: right;
}

.baseNavbar{
    background-color: #043a62; !important;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: lightseagreen;
}
.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
    stroke: orangered;
}

.dropdown-item{
    text-align: right;
}

.dt-buttons,.dataTables_filter{
    float: left;
}
.dataTables_length,.dataTables_info{
    float: right;
}

.bg-blue{
    background-color: #043a62; !important;
}

.btn{
    border-radius: 0;
}
