{% extends 'mostusedfiles/base.html.twig' %}

{% block title %}آرشیو فرم ها{% endblock %}
{% block pageBody %}
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover rounded text-center">
            <thead class="thead-dark">
            <tr>
                <th>ردیف</th>
                <th>نوع درخواست</th>
                <th>تاریخ ثبت</th>
                <th>وضعیت</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody class="">

            </tbody>
        </table>
    </div>
{% endblock %}