{% extends 'appBase.html.twig' %}
{% block appName %}فرم های پرکاربرد{% endblock %}
{% block appMenu %}
    <ul class="sidebar navbar-nav">
        <li class="nav-item border-bottom">
            <a class="nav-link" href="{{ path('ictreqDashboard') }}">
                <i class="fas fa-file-archive"></i>
                <span>فرم ها</span>
            </a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" href="{{ path('ictreqNew') }}">
                <i class="fas fa-plus"></i>
                <span>جدید</span>
            </a>
        </li>
    </ul>
{% endblock %}


